main {
 min-height: 85vh;
}
body {
 font-size: 80%;
}

.rating span {
 margin-right: 0.2rem;
}

h3 {
 padding: 0.5rem 0;
}

.table-admin {
 padding: '5px';
}

.card-body-link a:hover {
 text-decoration: underline;
}

.no-descoration {
 text-decoration: none;
}

.spinner {
 position: fixed;
 top: 40%;
 left: 45%;
 width: 250px;
 height: 250px;
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 5000;
 font-size: 1.7rem;
 font-weight: bold;
 overflow: hidden;
}
.spinner-sector {
 position: absolute;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 border: 10px solid transparent;
 mix-blend-mode: overlay;
 animation: rotate var(--duration) var(--timing) infinite;
}

.spinner-sector-red {
 border-top-color: rgb(191, 36, 36);
 --duration: 1s;
 --timing: ease-in-out;
}
.spinner-sector-blue {
 border-left-color: rgb(52, 52, 207);
 --duration: 1.6s;
 --timing: ease-in;
}
.spinner-sector-green {
 border-bottom-color: rgb(21, 150, 21);
 --duration: 2.1s;
 --timing: ease-out;
}

@keyframes rotate {
 0% {
  transform: rotate(0deg);
 }

 100% {
  transform: rotate(360deg);
 }
}

.cartItems {
 display: flex;
 align-items: center;
 list-style-type: none;
 font-weight: bold;
 justify-content: space-between;
}

.cartItem {
 text-decoration: none;
}

.form-email,
.form-password,
.form-name {
 font-weight: bold;
 font-size: 18px;
 margin-bottom: 3px;
}

.form-input {
 margin-bottom: 25px;
}
